[Desktop Entry]
Name=Music Blocks
Exec=org.sugarlabs.Musicblocks
Type=Application
Icon=org.sugarlabs.Musicblocks
Categories=Education;ComputerScience;Art;Music;
