[Desktop Entry]
Name=Music Blocks
Exec=musicblocks-start
Type=Application
Icon=org.sugarlabs.MusicBlocks
Categories=Education;ComputerScience;Art;Music;
MimeType=text/html;application/x-tb
